.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.gallery {
    padding-top: 5%;
	display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
}

.gallery__upload-image{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-item {
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgb(0 0 0 / 40%);
    overflow: hidden;
    width: 260px;
    min-width: 23%;
    position: relative;
}

.delete-image{
    position: absolute;
    z-index: 2;
    top: 9px;
    left: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-image: url('../../../assets/images/delete.png');
}

.gallery-image {
    width: 285px;
    height: 285px;
    min-width: 23%;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}
